$pl-body-w: 650px;
$pl-body-h: 600px;
$pl-back-color: #272727;

.player-body {
  width: $pl-body-w;
  height: $pl-body-h;
  background-color: $pl-back-color;

  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid inherit;
  border-radius: 6rem;
}